body{
    background-color: #1d1d1e;
    font-family: monospace;
    font-size: 1.05em;
}

h1{
    color: #9d4412;
}

h3{
    color: #c25f23;
}

a{
    color: #c25f23;
}

p, li{
    color: #d3cdc0;
}

#habilidades li:nth-child(odd), #habilidades-futuras li:nth-child(odd){
    color: #1d1d1e;
}

#habilidades, #habilidades-futuras{
    background-color: #565654;
    padding: 0px 10px;
    width: 85%;
    border: 2px solid;
}

#foto-perfil{
    border-radius: 50%;
    width: 200px;
    padding: 8px;
    background-color: #61361e;
    float: left;
    z-index: 1;
}

#resumo{
    padding: 0px 10px;
    position: absolute;
    left: 250px;
    z-index: 2;
    width: 50%;
}

#perfil{
    display: inline-block;
    padding: 10px;
    background-color: #565654;
    width: 85%;
    border: 2px solid;
}

#nome{
    text-align: center;
}