body{
    align-items: center;
    background-color: rgb(218, 207, 188);
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: rgb(218, 207, 188);
    text-decoration: none;
}

header {
    font-family: 'Limelight', cursive;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 1000px;
}

#upper-head {
    align-items: center;
    background-color: rgb(69, 107, 161);
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

#profile-pic {
    width: 175px;
    height: 175px;
}

#name-head {
    color: rgb(218, 207, 188);
    font-family: 'Limelight', cursive;
    font-size: 70px;
}

#lower-head {
    align-items: center;
    background-color: rgb(90, 90, 90);
    color: rgb(218, 207, 188);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

#lefter-lower {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#lower-left {
    display: flex;
    flex-direction: column;
}

#vintage-mailman {
    width: 75px;
}

#lower-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#address-title {
    font-size: 35px;
}

.social-logo {
    width: 30px;
}

#in-between {
    font-family: 'Carter One', cursive;
    font-size: 35px;
    padding: 10px 0px 20px 0px;
    text-align: center;
    width: 1000px;
}

main {
    display: flex;
    gap: 20px;
}

.column { 
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 315px;
}

#major-column-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#major-column-2 {
    display: flex;
    gap: 20px;
}

#lower-column {
    width: 650px;
}

.article {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.article-body {
    font-size: 17px;
    padding: 15px;
}

.capital-letter {
    color: rgb(69, 107, 161);
    font-size: xx-large;
    font-weight: bolder;
}

.upper-article {
    background-color: rgb(49, 49, 49);
    color: rgb(218, 207, 188);
    font-family: 'SiGmar One', cursive;
    font-size: 25px;
    text-align: center;
}

.column-pic {
    width: 225px;
}

@media screen and (max-width: 1024px) and (min-width: 500px){

    body {
        width: auto;
    }

    header {
        display: flex;
        flex-direction: column;
        width: 700px;
    }
    
    #upper-head {
        border: 1px red solid;
        align-items: center;
        background-color: rgb(69, 107, 161);
        display: flex;
        justify-content: center;
        width: auto;
    }
    
    #profile-pic {
        width: 175px;
        height: 175px;
    }
    
    #name-head {
        color: rgb(218, 207, 188);
        font-family: 'Limelight', cursive;
        font-size: 70px;
    }
    
    #lower-head {
        align-items: center;
        background-color: rgb(90, 90, 90);
        color: rgb(218, 207, 188);
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
    }
    
    #lefter-lower {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    #lower-left {
        display: flex;
        flex-direction: column;
    }
    
    #vintage-mailman {
        width: 75px;
    }
    
    #lower-right {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    
    #address-title {
        font-size: 35px;
    }
    
    .social-logo {
        width: 30px;
    }

}